<nav class="navbar navbar-light navbar-expand-md fixed-top navbar-inverse py-2">
    <a class="nav-brand" href="#"><img class="ml-3" alt="logo" src="assets/images/logo.PNG"></a>
    <button class="navbar-toggler ml-auto mr-3" data-toggle="collapse" data-target="#navbar-ex1-collapse" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

    <div class="collapse navbar-collapse" id="navbar-ex1-collapse">
        <hr class="nav_divider">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item "><a [routerLink]="['/home']" class="ml-2 nav-link">HOME</a></li>
            <li class="nav-item"><a [routerLink]="['/favorites']" class="ml-2 nav-link">FAVORITES</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>